/* this stylesheet is common to all pages on the site, though some pages may have a more specific page stylesheet as well */

/*
	the colour scheme:
		#1A535C is the dark-green-ish colour
		#F7FFF7 is the white-ish colour
*/


/* */
/* heading – common on all pages */
.title {
	/* the title will fill the width of the screen, be centered, have a background colour */
	display: flex;
	justify-content: center;
	background-color: #1A535C;
	margin-top: 0;
	/* technically, a "rem" is the font-size of the root element, but for this project think of 1rem == 16px */
	/* this applies 8px padding above and below the title, but 0 to the sides */
	padding: 0.5rem 0 0.5rem 0;
}
/* this applies the style to elements with the class="title", as well as all a elements directly inside an element with class="title" */
.title, .title > a {
	/* don't want an underline for a normal link showing up on the main title */
	text-decoration: none;
	color: #F7FFF7 !important;
}

/* */
/* basic body styles */
body {
	/* this font-family combination was found at https://30-seconds.github.io/30-seconds-of-css/#system-font-stack and apparently uses the native font of the operating system through the successive fallbacks */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #F7FFF7;
}

/* utility class when something shouldn't be shown */
.hidden {
	display: none !important;
}

/* to add a bit of space to the bottom of each page, add a margin to the bottom of the last element */
body:last-child {
	margin-bottom: 1rem;
}

/* */
/* individual element styles */

/* style links so they don't have the ugly default styles */
a {
	color: black;
	text-decoration-color: #1A535C;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: none;
}

/* partly from https://30-seconds.github.io/30-seconds-of-css/#button-border-animation */
/* It adds an underline to the link which will expand (over 0.25s) under the active (being-clicked) link */
.nice-link:before,
.nice-link:after {
	border: 0 solid transparent;
	transition: all 0.25s;
	transition-timing-function: ease-out;
	height: 1.5rem;
	width: 0rem;
	content: '';
}
.nice-link:active:after {
	content: '' !important;
	border-bottom: 2px solid #1A535C;
	right: 0px;
	bottom: -5px;
	width: 100%;
	position: absolute;
}
.nice-link:active {
	position: relative;
}

/* I decided to make my own style for links on the homepage where a border surrounds the active (being-clicked) link */
.nice-links:active {
	border: 2px solid #1A535C;
	padding: 2px;
}

/* partly from https://css-tricks.com/css-basics-styling-links-like-boss/ */
/* it adds a nice pushed-in effect to a button by adding a shadow that is 5px high below the element, then when it is being clicked it removes the shadow and moves the element down 5px, simulating the push-in effect */
.pushButton {
	border: unset;
	display: block;
	padding: 0.5rem;
	border-radius: 0.35rem;
	text-decoration: none;
	position: relative;
	/* shorthand for: 1rem of margin above, auto margin left, 0 margin below, auto margin right */
	/* the left and right auto margin basically centers the button in the screen */
	margin: 1rem auto 0 auto;
	/* don't forget to set color, background-color and box-shadow: 0 5px 0 #00458F; */
}
.pushButton:active {
	box-shadow: none !important;
	top: 5px;
}
/* I made a few colour styles */
/* red delete */
.pushButton.red {
	color: #F7FFF7;
	background-color: #DA2B3C;
	box-shadow: 0 5px 0 darkred;
}
/* green action */
.pushButton.green {
	color: #F7FFF7;
	background-color: #218739;
	box-shadow: 0 5px 0 #186329;
}
/* blue link */
.pushButton.blue {
	color: #F7FFF7;
	background-color: #0071EB;
	box-shadow: 0 5px 0 #00458F;
}


button {
	cursor: pointer;
}
/* label was initially inline */
label {
	display: block;
}

/* these two form style sets are from https://github.com/csstools/sanitize.css/blob/master/forms.css */
button, input, select, textarea {
	background-color: transparent;
	border: 1px solid WindowFrame;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: 0.25em 0.375em;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
	border-radius: 0;
	padding-right: 1em;
}

/* add space between inputs */
.input-pair {
	margin-bottom: 1rem;
}

/* add a red border or outline to invalid inputs */
.validity input:invalid {
	border-color: #D32F2F;
}
/* you can't set the border of a radio input, so we set an outline */
.validity input[type="radio"]:invalid {
	outline: 1px solid #CF0B00;
}
.validity input:invalid:focus {
	/* partly from https://patterns.boilerform.design/#group-input-field-component-email */
	outline: 0;
	box-shadow: 0 0 0 2px #CF0B00;
}

/* */
/* grid styles */

/* grid setup */
.thirds {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5rem;
}

/* grid utility */
.fill-two {
	grid-column: span 2 / auto;
}

/*  */
/*  */
/* centering */
/*  */
/*  */
.center-text {
	text-align: center;
}
.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.center-grid {
	display: grid;
}